/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Menu */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    height: 100px;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 7), transparent);
    text-align: center;
}

#logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 60px;
    margin-top: 7px;
}

#logo img {
    height: 80px;
}

header ul li {
    display: inline-block;
} 

nav {
    display: flex;
    position: absolute;
    margin-right: 20px;
    right: 0;
}

header ul li a {
    margin: 15px 10px;
    padding: 5px 0;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.25s ease-in-out;
}

header ul li a:hover {
    border-bottom: 3px solid;
}

/* Corpo */

section {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#section_banner {
    background-image:url("../assets/img/hiphop.jpg");
    background-position: center;
}

#section_skt {
    background-image:url("../assets/img/sk8.jpg");
    background-position: top;
}

#section_rap {
    background-image:url("../assets/img/rap.jpg");
    background-position: top;
}

#section_sabota {
    background-image:url("../assets/img/sabota.jpg");
    background-position: top;
}
