/* ================================== CORPO ================================== */
.home_content .corpo {
    height: 85vh;
    font-size: 25px;
    color: #222;
    margin-top: 12px;
}
/* ================================== CORPO ================================== */