.container {
    height: 114.5vh;
    background-image: url("../assets/img/cadastro.jpg");
    background-position: bottom;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

