/* ============================== SCROLL SMOOTH ============================== */
html {
    scroll-behavior: smooth;
}
/* ============================== SCROLL SMOOTH ============================== */

/* ================================== CORPO ================================== */
#section_banner {
    background-image:url("../assets/img/hiphop.jpg");
    background-position: center;
}

#section_skt {
    background-image:url("../assets/img/sk8.jpg");
    background-position: top;
    background-attachment: fixed;
}

#section_rap {
    background-image:url("../assets/img/rap.jpg");
    background-position: bottom;
}

#section_sabota {
    background-image:url("../assets/img/sabota.jpg");
    background-position: top;
}
/* ================================== CORPO ================================== */