/* ============================ SIDE MENU - AGORA ============================ */
.sidebar ul #ranking a {
    border: 1px solid #fff;
    box-shadow: 0 0 8px;
}
.sidebar.active #ranking a {
    color: #fff;
}
.sidebar ul #ranking a:hover {
    color: #000;
    background: #fff;
}
/* ============================ SIDE MENU - AGORA ============================ */


/* ================================== CORPO ================================== */
.home_content .container {
    background-image:url("../assets/img/show.jpg");
}
/* ================================== CORPO ================================== */