/* ============================ SIDE MENU - AGORA ============================ */
.sidebar ul #ranking a {
    border: 1px solid #fff;
    box-shadow: 0 0 8px;
}
.sidebar.active #ranking a {
    color: #fff;
}
.sidebar ul #ranking a:hover {
    color: #000;
    background: #fff;
}
/* ============================ SIDE MENU - AGORA ============================ */


/* ================================== MENU ================================== */
header {
    padding-right: 0.5em;
    justify-content: flex-end;
    position: absolute;
    /* caso fique ruim no notebook, aumentar fonte */
    font-size: 20px;
}
/* ================================== MENU ================================== */


/* ================================== CORPO ================================== */
.home_content .container {
    background-image:url("../assets/img/ranking.jpg");
}
/* ================================== CORPO ================================== */